.navbar {
    width: 100%;
    background-color:rgb(85, 85, 85,0);
    overflow: auto;
    margin-top: -7px;
  }
  body{
    background-image: url(guitar1.jpg);
    background-repeat: no-repeat;
    background-color:black;
  }
#heading{
  margin-top: -50px;
  text-align: center;
  color: white;
  font-size: 70px;
}

  .navbar a {
    float: right;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #cc6600;
  }
  
  
  .navbar img
    {padding: 9px 17px;
      width: 80px;
    height:auto;
    float:left;
    }

    #list {
      list-style-type: square;
     
    }
    ul li{
      color: #fff7e6;
    }
    #list a:link {
      color: #fff7e6;
      font-size: 150%;     
    }
    #list a:visited {
      color:  #ff1a1a;
    }
    #list a:hover {
      color:  #cccc00;
    }
    #list a:active {
      color: blue;
    }

    
    a{
      text-decoration: none;
      outline: none;
      }
      .footer-main-div
      {
        width: 100%;
        height:auto;
        margin: auto;
        margin-top: 25%;
        background-color: #272727;
        padding: 30px 0px;
      }
      .footer-social-icons
      {
        width:100%;
        height: auto;
        margin:auto;
      }
      .footer-social-icons ul
      {
        margin: 0px;
        padding: 0px;
        text-align: center;
      }
      .footer-social-icons ul li{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0px 10px;
        border-radius: 100%;
        background: #ffa64d;
      }
      .footer-social-icons ul li a{
        columns: #272727;
        font-size:25px;
        display: block;
      }
      .footer-social-icons ul li a i{
        line-height: 50px;
      }
      .footer-social-icons ul li:hover
      {
        background: red;
      }
      .footer-social-icons ul li:hover a
      {
        color: #ffffff;
      }
      .footer-menu-one{
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 25px;
      }
      .footer-menu-one ul{
        margin:0px;
        padding:0px;
        text-align:center;
      }
      .footer-menu-one ul li{
        display: inline-block;
        margin: 0px 15px;
      }
      .footer-menu-one ul li a{
        font-family: arial;
        font-size: 15px;
        font-weight:550;
        color:#FFFFFF;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .footer-menu-one ul li a:hover{
        columns: #ffb366;
      }
      
      
      .footer-menu-two{
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 15px;
      }
      .footer-menu-two ul{
        margin:0px;
        padding:0px;
        text-align:center;
      }
      .footer-menu-two ul li{
        display: inline-block;
        margin: 0px 15px;
      }
      .footer-menu-two ul li a{
        font-family: arial;
        font-size: 15px;
        font-weight:500;
        color:#FFFFFF;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .footer-menu-two ul li a:hover{
        columns: #ffa64d;
      }
      .footer-bottom{
        width: 100%;
        height: auto;
        margin: auto;
        background: #ffa64d;
        padding: 1px;
      }
      .footer-bottom p{
        font-family: arial;
        font-size: 15px;
        text-align: center;
        color:#FFFFFF;
        font-weight:500;
        letter-spacing: 1px;
      }
      .footer-bottom p a{
        color: #ffffff;
      }
      .footer-bottom p a:hover{
        color:#272727; 
    }
